<!DOCTYPE html>
<html>
<head>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-125828289-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-125828289-1');
</script>

<!-- <script src="//www.powr.io/powr.js?external-type=html">	</script>  -->
<link rel="stylesheet" type="text/css" href="/style.css">
<link rel="stylesheet" type="text/css" href="/work-page.css">
<!-- <link rel="stylesheet" type="text/css" href="src/hover-min.css"> -->
<link href="https://fonts.googleapis.com/css?family=Space+Mono" rel="stylesheet">

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<link rel="shortcut icon" type="image/png" href="favicon.png"/>


<link href="https://fonts.googleapis.com/css?family=Space+Mono:400,400i,700,700i" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Work+Sans:300,400,500,700" rel="stylesheet">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">



<script src="/src/scrollreveal.min.js" type="text/javascript"></script>




<!-- Contentful SDK -->
<script src="https://cdn.jsdelivr.net/npm/contentful@latest/dist/contentful.browser.min.js"></script>
<!-- Markdown to HTML parser -->
<script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>

<script src="/src/moment.min.js"></script>



<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

<script src="/general.js" type="text/javascript" defer></script>
<script src="/projects-page.js" type="text/javascript" defer></script>



<link rel="apple-touch-icon" sizes="57x57" href="/favicon/apple-icon-57x57.png">
<link rel="apple-touch-icon" sizes="60x60" href="/favicon/apple-icon-60x60.png">
<link rel="apple-touch-icon" sizes="72x72" href="/favicon/apple-icon-72x72.png">
<link rel="apple-touch-icon" sizes="76x76" href="/favicon/apple-icon-76x76.png">
<link rel="apple-touch-icon" sizes="114x114" href="/favicon/apple-icon-114x114.png">
<link rel="apple-touch-icon" sizes="120x120" href="/favicon/apple-icon-120x120.png">
<link rel="apple-touch-icon" sizes="144x144" href="/favicon/apple-icon-144x144.png">
<link rel="apple-touch-icon" sizes="152x152" href="/favicon/apple-icon-152x152.png">
<link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-icon-180x180.png">
<link rel="icon" type="image/png" sizes="192x192"  href="/favicon/android-icon-192x192.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="96x96" href="/favicon/favicon-96x96.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
<link rel="manifest" href="/favicon/manifest.json">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="msapplication-TileImage" content="/favicon/ms-icon-144x144.png">
<meta name="theme-color" content="#ffffff">


<script>

$(document).ready(function(){
	// Define entryID for each page
	var entryId = '7c8keFfrZvgRELrDGwh26k';
	populate(entryId);

});
</script>

<title>jackie liu - art &middot; design &middot; code</title>
</head>


<body class="project-page">

	<div id="wrap">
	<div class="content-wrapper" id="projectContainer">
	<projectpage-nav></projectpage-nav>

	<div>

<br><br>
<h1 class="whole">{{ sectionTitle }}</h1>
		<p class="whole">Some things I've been up to in design work, pursuing my master's degree at ITP, or my final years as an undergrad at MIT. If I like a project of mine enough show it off, it'll go on this page.<p>

	<div class="description">
	<div class=" grid-container scroll-reveal"  v-for="projEntry in sortedProjects">
		<!-- <project-element v-bind:proj-entry=projectEntry></project-element> -->

		<div class="projectElement  last five-twelth">
			<a target="_blank" v-if="projEntry.fields.slug.includes('http')"  v-bind:href="projEntry.fields.slug">
			<div class="img-container box-shadow" v-bind:style="'background-image:url(' + projEntry.fields.coverphoto.fields.file.url+ ')'">
				<div class="title"><div class="overlay"><div class="title-text">{{projEntry.fields.workTitle}}</div></div></div>
			</div>
			</a>

			<a v-else  v-bind:href="projEntry.fields.slug">
			<div class="img-container box-shadow" v-bind:style="'background-image:url(' + projEntry.fields.coverphoto.fields.file.url+ ')'">
				<div class="title"><div class="overlay"><div class="title-text">{{projEntry.fields.workTitle}}</div></div></div>
			</div>
			</a>
			
		</div>

		<div class="projText seven-twelth margin-left margin-right">
			<h4 class="small-margin-bottom">{{projEntry.fields.workTitle}}</h4>
			<h5 class="work-detail">{{projEntry.fields.descriptionDate}}</h5>
			<p>{{projEntry.fields.shortDescription}}</p>
			
			<a class="link-with-arrow" v-if="projEntry.fields.slug.includes('http')" v-bind:href="projEntry.fields.slug" target="_blank"> learn more &nbsp; &nbsp;<i class="fas fa-long-arrow-alt-right"></i></a>

			<a class="link-with-arrow"  v-else v-bind:href="projEntry.fields.slug">learn more &nbsp; &nbsp;<i class="fas fa-long-arrow-alt-right"></i></a>
		</div>


	</div>
	<h2>Looking for more?</h2>
	<p>I keep a <a target="_blank" href="http://blog.jackieis.online">blog</a> for smaller, short-term ITP explorations and assignments. I also have some outdated work archived at <a target="_blank" href="http://jackieliu.me">my old website</a>, but you should take those with a grain of salt!</p><br><br>
	</div>


	</div>
	
	<workpage-footer v-bind:date=lastUpdated></workpage-footer>

	</div>
	<img class="footer-img" src="/img/footer.svg">
</div>

<script>ScrollReveal().reveal('.scroll-reveal',{ duration: 700, scale:.94 });</script>
</body>

</html>